@import url("fonts\\SpriteGraffiti\\style.css");

body{
   background-color: rgba(221, 180, 121, .2);
   margin: 0;
}
header{
	background: #DAD2C6;
	height: 100px;
    width: 100%;

}
.main{ 
    text-decoration: none;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Sprite Graffiti';
    font-style: normal;
    font-weight: 400;
    font-size: 105px;
    display: flex;
    color: #72726E;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
   }
a:active {
    color: #72726E;
    opacity: 0.8;
  }


  /* Вершина иерархии */



