@import url("fonts\\SpriteGraffiti\\style.css");
@import url("fonts\\FedraSans\\stylesheet.css");

body{
   background-color: rgba(221, 180, 121, .2);
   margin: 0;
}
header{
	background: #DAD2C6;
}

.header-block{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header a{
    color: #72726E;
    text-align: center;
    font-family: 'Sprite Graffiti';
    font-style: normal;
    font-weight: 400;
    font-size: 105px;
    text-decoration: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media (max-width: 850px){
    .header-link{
        font-size: 50px;
    }
}